{% extends "base.html.jinja2" %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                AI Rapid Prototyping
            </h1>
            <h2 class="subtitle">
                Your one-stop solution for rapid prototyping
            </h2>
        </div>
    </div>
</section>
{% endblock %}